<div class="grid">
	<div class="col">
		<h3>Inventory Lookup</h3>
	</div>
</div>
<div class="grid">
	<div class="col">
		<div id="iv-search" class="max-w-25rem">
			<p-iconField>
				<p-inputIcon class="pi pi-search"/>
				<input type="text" pInputText placeholder="Search" class="w-full"/>
			</p-iconField>
		</div>
	</div>
</div>
<div class="grid h-full pb-10rem">
	<div class="col-6 h-full">
		<div class="card-std min-h-10rem h-full">
			<p-table class="m-2 pb-3" [value]="(m_itemData | async) ?? []" [scrollable]="true" scrollHeight="flex">
				<ng-template #header>
					<tr>
						<th>
							Item Code
						</th>
						<th>
							Item Description
						</th>
					</tr>
				</ng-template>
				<ng-template #body let-item>
					@if (m_loadingData()) {
						<tr>
							<td><p-skeleton width="10rem" class="mb-2"/></td>
							<td><p-skeleton width="10rem" class="mb-2"/></td>
						</tr>
					} @else {
						<tr>
							<td>{{ item.ItemCode }}</td>
							<td>{{ item.ItemName }}</td>
						</tr>
					}
				</ng-template>
			</p-table>
		</div>
	</div>
	<div class="col-6">

	</div>
</div>