<div class="grid">
	<div class="col">
		<h3>Inventory Lookup</h3>
	</div>
</div>
<div class="grid">
	<div class="col">
		<div id="iv-search" class="max-w-25rem">
			<p-iconField>
				<p-inputIcon class="pi pi-search"/>
				<input type="text" pInputText placeholder="Search" class="w-full"/>
			</p-iconField>
		</div>
	</div>
</div>
<div class="grid">
	<div class="col-6">
		<div class="card-std min-h-10rem">
			<p-table class="m-2">
				<ng-template #header>
					<tr>
						<th>
							Item Code
						</th>
						<th>
							Item Description
						</th>
					</tr>
				</ng-template>
				<ng-template #body>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
	<div class="col-6">

	</div>
</div>