<div id="main-interface" class="h-full w-full">
	<div class="grid m-0 max-h-4rem w-full bg-caretaker-red">
		<div class="col-1 align-content-center title-bar-icon">
			<img src="assets/png/caretaker-tree-white.png" style="width: 3.5em;"/>
		</div>
		<div class="col-2 align-content-center title-bar-title">
			<h2 class="m-0 color-white">PRODUCTION BUILDER</h2>
		</div>
	</div>
	<div class="grid m-0 h-full">
		<div class="col-1 max-w-max">
			<app-app-menu/>
		</div>
		<div class="col">
			<ng-content/>
		</div>
	</div>
</div>