<div class="row mb-2">
    <div class="col-1">
        <p>{{ leafTitle() }}</p>
    </div>
    <div class="col">
        <p-select class="w-100 ms-1" [editable] [options]="leafSource()" [(ngModel)]="selectedLeaf" [placeholder]="`${leafSource().length} items`" scrollHeight="300px">
        <ng-template #selectedItem let-leaf>
            <div class="d-flex align-items-center">
                <span>{{ leaf["pathName"] }}</span>
            </div>
        </ng-template>
        <ng-template #item let-leaf>
            <div class="d-flex align-items-center">
                <span>{{ leaf["pathName"] }}</span>
            </div>
        </ng-template>
    </p-select>
    </div>
    <div class="col-1 pb btn-icon-col">
        @if (showClearButton()) {
            <p-button severity="primary" icon="pi pi-times" pTooltip="Clear" tooltipPosition="right" positionTop="-15" (onClick)="onClearButtonClicked()"/>
        }
    </div>
</div>