<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 1" [leafSource]="leaf1()" [(selectedLeaf)]="selectedLeaf1" (clearButtonClicked)="onClearLeaf(selectedLeaf1())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 2" [leafSource]="leaf2()" [(selectedLeaf)]="selectedLeaf2" (clearButtonClicked)="onClearLeaf(selectedLeaf2())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 3" [leafSource]="leaf3()" [(selectedLeaf)]="selectedLeaf3" (clearButtonClicked)="onClearLeaf(selectedLeaf3())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 4" [leafSource]="leaf4()" [(selectedLeaf)]="selectedLeaf4" (clearButtonClicked)="onClearLeaf(selectedLeaf4())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 5" [leafSource]="leaf5()" [(selectedLeaf)]="selectedLeaf5" (clearButtonClicked)="onClearLeaf(selectedLeaf5())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 6" [leafSource]="leaf6()" [(selectedLeaf)]="selectedLeaf6" (clearButtonClicked)="onClearLeaf(selectedLeaf6())"/>
</div>
<div class="grid">
    <pb-iv-lookup-question class="w-full" leafTitle="Leaf 7" [leafSource]="leaf7()" [(selectedLeaf)]="selectedLeaf7" (clearButtonClicked)="onClearLeaf(selectedLeaf7())"/>
</div>