@import "primeicons/primeicons.css";

:root {

	/* Colors */
	--caretaker-red: #ed2426;
	--bg-selection-light: #cccccc;

	/* Progress Spinner */
	--p-progressspinner-color-one: var(--caretaker-red);
	--p-progressspinner-color-two: var(--caretaker-red);
	--p-progressspinner-color-three: var(--caretaker-red);
	--p-progressspinner-color-four: var(--caretaker-red);

	/* Table */
	--p-datatable-row-selected-background: var(--caretaker-red);
	--p-datatable-row-hover-background: var(--bg-selection-light);
}

* {
	box-sizing: border-box;
	// color: black;
	background: none;
	background-color: none;  
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html, body {
	width: 100vw;
	height: 100vh;
	background-color: white;
	margin: 0;
	padding: 0;
	display: block;
}

/* Background Colors */
.bg-caretaker-red {
	background-color: var(--caretaker-red);
}

/* Colors */
.color-white {
	color: white;
}


/* Borders */

.light-border-solid {
	border: 1px solid var(--p-stone-400);
	border-radius: 0.25em;
}

/* Typography */

.text-std {
	display: block;
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'Noto Sans';
}

/* Tables */

.table-bg-std {
	background-color: white;
}

/* Sizing */

.min-h-10rem {
	min-height: 10rem;
}

.card-std {
	@extend .light-border-solid, .table-bg-std;
}

/* Padding */

.pb-10rem {
	padding-bottom: 10rem;
}

/* Margin */

.mt-40p {
	margin-top: 40%;
}

/* App Main Interface */

.title-bar-icon {
	max-width: 3.75em;
}

.title-bar-icon > img {
	max-width: 3.75em;
}

.title-bar-title {
	min-width: 5em;
	padding-top: 0em;
}

.title-bar-title > h2 {
	padding-left: 0.5em;
}

.main-menu-item-selected > button {
	background-color: var(--caretaker-red);
}