@import "primeicons/primeicons.css";

:root {

	--pb-app-bar-height: 5vh;

	/* Colors */
	--caretaker-red: #ed2426;
	--bg-selection-light: #cccccc;

	/* Progress Spinner */
	--p-progressspinner-color-one: var(--caretaker-red);
	--p-progressspinner-color-two: var(--caretaker-red);
	--p-progressspinner-color-three: var(--caretaker-red);
	--p-progressspinner-color-four: var(--caretaker-red);

	/* Table */
	--p-datatable-row-selected-background: var(--caretaker-red);
	--p-datatable-row-hover-background: var(--bg-selection-light);
}

* {
	box-sizing: border-box;
	// color: black;
	background: none;
	background-color: none;  
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html, 
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	display: block;
}

/* Ids */

#app-bar-img {
	width: 3.5rem;
}

/* <===> */

// Dummy root class to provide specificity needed to override other styles.
.pb * {
	-is-pb: 1;
}

/* Background Colors */

.surface-100 {
	background-color: var(--p-surface-100);
}

.surface-200 {
	background-color: var(--p-surface-200);
}

.bg-caretaker-red {
	background-color: var(--caretaker-red);
}

/* Colors */
.color-white {
	color: white;
}


/* Borders */

.light-border-solid {
	border: 1px solid var(--p-stone-400);
	border-radius: 0.25em;
}

/* Typography */

.text-std {
	display: block;
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'Noto Sans';
}

/* Tables */

.table-bg-std {
	background-color: white;
}

/* Sizing */

.w-max-7rem {
	max-width: 7rem;
}

.w-3rem {
	width: 3rem;
}

.pb.h-min-0 {
	min-height: 0;
}

.h-max-100 {
	max-height: 100%;
}

.h-max-screen {
	max-height: 100vh;
}

.pb.h-11rem {
	min-height: 14rem;
	max-height: 14rem;
	height: 14rem;
}

/* Padding */

.pb-10rem {
	padding-bottom: 10rem;
}

/* Margin */

.mt-40p {
	margin-top: 40%;
}

/* Flex */

.pb.flex-max-content {
	flex-basis: max-content;
}

/* App Main Interface */

.title-bar {
	max-height: var(--pb-app-bar-height);
	margin: 0;
	background-color: var(--caretaker-red);
	//width: 100vw;
}

.pb.title-bar-img-container {
	max-width: 5rem;
}

.title-bar-icon {
	max-width: 3.75em;
}

.title-bar-icon > img {
	max-width: 3.75em;
}

.title-bar-title {
	min-width: 5em;
	padding-top: 0em;
}

.title-bar-title > h2 {
	padding-left: 0.5em;
}

.main-menu-item-selected > button {
	background-color: var(--caretaker-red);
}

.main-interface-container {
	max-height: calc(100vh - var(--pb-app-bar-height));
}

.pb.main-menu-bar-col {
	//width: 5rem;
	max-width: 5rem;
}

.pb.main-page-host {
	display: flex;
}

.pb.main-page-host router-outlet + * {
	flex: 1 1 auto;
}

/* Card */

.card-std {
	@extend .light-border-solid, .table-bg-std;
}