<div class="d-flex flex-column pb h-100 h-min-0">
    <div class="row">
        <h3 class="mt-2">Unit of Measures</h3>
    </div>
    <div class="row me-2">
        <p-toolbar>
            <ng-template #start>
                <p-button class="me-2" icon="pi pi-plus" size="small" severity="primary" label="New"/>
                <p-button class="mx-2" icon="pi pi-trash" size="small" severity="secondary" label="Delete"/>
                <p-button class="mx-2" icon="pi pi-save" size="small" severity="secondary" label="Save"/>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="row me-2 pb h-min-0 flex-fill flex-column mb-4">
        <div class="card-std min-h-10rem my-2 pb h-100 position-relative">
            @if (isLoading()) {
                <div class="container position-absolute" style="left: calc(50% - 25px); top: 5rem;">
                    <p-progress-spinner strokeWidth="6" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
                </div>
            }
            @else {
                <p-table class="pb table-fill-card" 
                    [scrollable]="true" 
                    scrollHeight="flex"
                    [value]="(service().unitStore$ | async) ?? []"
                    dataKey="id"
                    selectionMode="single">
                    <ng-template #header>
                        <tr>
                            <th>Unit</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        <tr>
                            <td>{{item.unit}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            }
        </div>
    </div>
</div>